.hero {
    
    padding: 32px;

    .anniversary__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .anniversary__info {
        display: flex;
        list-style: none;

        &__item {
            padding: 0px 48px;
            text-transform: uppercase;
            font-weight: bold;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    }

    .anniversary__content {
        display: flex;

        &__info {
            display: flex;
            flex-direction: column;
            padding: 32px;
        }

        h2 {
            font-size: 3em;
            display: block;
            width: 100%;
            padding: 32px 0px;
        }

        p {
            padding-bottom: 16px;
        }

        button {
            padding: 8px;
            width: 50%;
            border-radius: 30;
            background-color: #0042e6;
            color: #fff;
            border: none;
            cursor: pointer;
            margin: 0 auto;
            margin-top: 32px;
            font-size: 1.1em;
            text-transform: uppercase;
        }

        &__img {
            padding: 8px 16px;
        }

        @media (max-width: 1023px) {
            display: block;

            h2 {
                font-size: 3em;
                display: block;
                width: 100%;
                padding: 32px 0px;
                text-align: center;
            }

            p {
                padding-bottom: 16px;
                text-align: center;
            }

            &__item {
                padding: 0px 48px;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }

}