*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

.container {
    max-width: 1024px;
    width: 100%;
    display: flex;
    border: 2px solid #000;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1023px) {
        width: 90%;
    }
}

body {
    margin-top: 100px;
}